<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" data-wow-offset="0">
        <div>
          <h3>Sexuelle Gewalt an Kindern und Jugendlichen – Prävention und Intervention</h3>
          <ul class="listLeftPadding">
            <li>
              <p>Fortbildungsangebot für Lehrerinnen und Lehrer</p>
            </li>
            <li>
              <p>Erzieherinnen und Erzieher</p>
            </li>
            <li>
              <p>in Schulen, Kindertagesstätten</p>
            </li>
            <li>
              <p>in stationären und teilstationären Einrichtungen der Jugendhilfe</p>
            </li>
          </ul>
        </div>
        <br>
        <div>
          <h4>I. Einführung</h4>
          <ul class="listLeftPadding">
            <li>
              <p>Fortbildungsangebot für Lehrerinnen und Lehrer</p>
            </li>
            <li>
              <p>Erzieherinnen und Erzieher</p>
            </li>
            <li>
              <p>in Schulen, Kindertagesstätten</p>
            </li>
            <li>
              <p>in stationären und teilstationären Einrichtungen der Jugendhilfe</p>
            </li>
          </ul>
        </div>
        <br>
        <div>
          <h4>II. Vermutung oder Verdacht? Wo beginnt sexueller Missbrauch?</h4>
          <ul class="listLeftPadding">
            <li>
              <p>Eine Definition und/oder kurze sexualpädagogische Fortbildung</p>
            </li>
            <li>
              <p>Die Zeichen sehen können/kindbezogene Indikatoren</p>
            </li>
            <li>
              <p>Täterstrategien</p>
            </li>
            <li>
              <p>Handlungsschritte/Interventionen bei Verdacht (auf die Einrichtung zugeschnitten)</p>
            </li>
          </ul>
        </div>
        <br>
        <div>
          <h4>III. Sichere Orte für Kinder und Jugendliche – Prävention in Institutionen</h4>
          <ul class="listLeftPadding">
            <li>
              <p>Leitbild/pädagogischer Handlungskodex</p>
            </li>
            <li>
              <p>Strukturen und Hierarchien</p>
            </li>
            <li>
              <p>Aufgaben von Kinderschutzbeauftragten</p>
            </li>
            <li>
              <p>Beschwerdemanagement und Anlaufstellen</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
