<header id="home" class="welcome-area">
  <div class="header-top-information-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="header-top-info-left">
            <ul>
              <li><i class="fa fa-envelope"></i> jsv@gmx.de</li>
              <li><i class="fa fa-phone"></i>03341 - 498942</li>
              <li><i class="fa fa-fax"></i>03341 - 498943</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-top-area">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/home"><img src="assets/images/HDLogo-Green.png" class="logo-img"></a>
        </div>
        <div class="col-md-9">
          <div class="mainmenu">
            <div class="navbar navbar-nobg">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="" routerLink="/uberuns">Über uns</a></li>
                  <li>
                    <a href="">Fortbildung</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="" routerLink="/sexuelle-gewalt">sexuelle-gewalt</a>
                      </li>
                      <li>
                        <a href="" routerLink="/fachtage-und-fachveranstaltungen">fachtage--fachveranstaltungen</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="" routerLink="/bfd">B F D</a>
                  </li>
                  <li>
                    <a href="">Kooperationen</a>
                    <ul class="sub-menu">
                      <li>
                        <a href="" routerLink="/kooperationen">kooperationen</a>
                      </li>
                      <li>
                        <a href="" routerLink="/kooperation-anne-frank-schule">kooperation-anne-frank-schule</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="" routerLink="/aktuelles">Aktuelles</a>
                  </li>
                  <!-- <li>
                    <a href="#kontakt" class="smoth-scroll">Kontakt</a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
