<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" data-wow-offset="0">
        <div>
          <h3>Initiative Oberschule</h3>
          <br>
          <p>
            Der Jugendsozialverbund Strausberg e.V. unterstützte im Schuljahr 2012/2013 im Rahmen des Projektes„ Nachbarn treffen und kennenlernen“ den kontinuierlichen Aufbau einer Schulpartnerschaft zwischen der Anne-Frank-Oberschule Strausberg und dem Gymnasium Arkadi Fiedler in Debno/Polen.
            <br> Die Tradition der Schulen und der Name Anne Frank und Arkadi Fiedler stellen eine verpflichtende Ver- antwortung dar, den Schülerinnen und Schülern bewusst zu machen, was Verantwortung, Solidarität, Mitgefühl und Respekt vor anderen Menschen und Überzeugungen bedeutet.
          </p>
          <br>
          <h3>Ziel der Schulpartnerschaft</h3>
          <br>
          <p>
            Das Projekt fördert eine intensive Schul -und Schülerpartnerschaft zwischen dem Gymnasium Debno und der Anne-Frank-Oberschule in den unterschiedlichen Bildungsbereichen. Die grenzüberschreitende Zusammenarbeit dient insbesondere auch dem Austausch über die Integration von Schülern mit Benachteiligungen im Sinne einer gelingenden Inklusion. Dem gegenseitigen Kennenlernen dienen regelmäßige Begegnungen in Debno und Strausberg und die Zusammenarbeit an konkreten Schulprojekten (Theater, Sport, Fotografie u.a.).
            <br> Im Projekt werden konkrete Begegnungen zwischen Schülern und Lehrern beider Schulen geplant, organisiert und durchgeführt.
          </p>
          <br>
          <p>Dazu gehören:</p>
          <ul class="listLeftPadding">
            <li>
              <p>
                gemeinsame Lehrerfortbildungen zum Thema “Bildung als Wert- Wertevermittlung als Inhalt von Bildung und Erziehung
              </p>
            </li>
            <li>
              <p>
                Kennenlernen der jeweiligen Freizeitangebote für Schüler an der Schule und im Sozialraum
              </p>
            </li>
            <li>
              <p>
                Fotoausstellungen “Meine Stadt-meine Schule”
              </p>
            </li>
            <li>
              <p>
                Organisation eines Workcamps im Rahmen der Sommerferien in Strausberg und Sosny
              </p>
            </li>
            <li>
              <p>
                Ausgestaltung der langfristigen Schulpartnerschaft mit konkreter Planung für ein Schuljahr
              </p>
            </li>
          </ul>
          <p>
            Nach mehrjähriger erfolgreicher Arbeit im Rahmen des o.g. Programms „Initiative Oberschule“ wird das Projekt <b>TEAMER aktiv</b> durch das neue Programm INISEK I – Initiative Sekundarstufe I wiederum mit Mitteln der Europäischen Union gefördert.
            <br>
            <br> Im Projekt <b>TEAMER aktiv</b> werden die Klassensprecher_innen der 7. – 10. Klassen der Anne-Frank-Oberschule im Rahmen von fünf Meilensteinen zu Workshops und Arbeitsgruppen eingeladen.
          </p>
          <br>
          <p>
            Unter dem Motto
          </p>
          <h3>MITWIRKEN-MITBESTIMMEN-MITGESTALTEN</h3>
          <br>
          <p>
            werden ihre sozialen Kompetenzen gestärkt. Monatlich treffen sich die TEAMER im Jugendsozialverbund Strausberg e.V. um sich darüber auszutauschen:
          </p>
          <ul class="listLeftPadding">
            <li>
              <p>
                Wie kann ich meinen sprachlichen Ausdruck verbessern und überzeugender agieren?
              </p>
            </li>
            <li>
              <p>
                Klassensprecher zwischen Ausübung der Funktion und Freundschaften
              </p>
            </li>
            <li>
              <p>
                Wie achte ich auf mich selbst und fühle mich auch in Schwächere hinein?
              </p>
            </li>
            <li>
              <p>
                Ist meine Klasse ein gutes Team?
              </p>
            </li>
            <li>
              <p>
                Soziales Lernen im Klassenverband und individuelles bzw. partnerschaftliches Lernen
              </p>
            </li>
            <li>
              <p>
                Wie gut kenne ich das soziale Umfeld meiner Schule?
              </p>
            </li>
            <li>
              <p>
                Können Praktika in sozialen Lernfeldern meine sozialen Kompetenzen fördern?
              </p>
            </li>
            <li>
              <p>
                Welche Leitziele für soziales Verhalten finde im Leben der Anne Frank?
              </p>
            </li>
          </ul>
          <p>
            Für aktuelle Probleme in den Klassen werden gemeinsame Lösungswege beraten und die Erfahrungen anderer Klassensprecher nutzen.
          </p>
          <br>
          <a href="/assets/TEAMER_aktiv_Website_JSV.pdf" download><b>Flyer TEAMER aktiv</b></a>
        </div>
      </div>
    </div>
  </div>
</section>
