<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" data-wow-offset="0">
        <div>
          <h3>Fachtage und Fachveranstaltungen</h3>
          <br>
          <ul class="listLeftPadding">
            <li>
              <a href="/assets/2013_Fachtag_Handout.doc" download>2013 Fachtag Handout</a>
            </li>
            <li>
              <a href="/assets/2014_Fachtag_Bericht.doc" download>2014 Fachtag Bericht</a>
            </li>
            <li>
              <a href="/assets/1_Entre_mit_Bild.pdf" download>2015 Fachtag: Entreebild</a>
            </li>
            <li>
              <p class="listNoMargin">2015 Fachtag: Beitrag Frau Hesselbarth</p>
            </li>
            <li>
              <a href="/assets/3_Vortrag_Dr._Schulze.pdf" download>2015 Fachtag: Beitrag Dr. Heidemarie Schulze</a>
            </li>
            <li>
              <a href="/assets/4_Vortrag_Luczyna_Wronska.pdf" download>2015 Fachtag: Beitrag Luczyna Wronska</a>
            </li>
            <li>
              <a href="/assets/5_Vortrag_Julia_von_Weiler.pdf" download>2015 Fachtag: Beitrag Julia von Weiler</a>
            </li>
            <li>
              <a href="/assets/6_Vortrag_Juergen_Lemke.pdf" download>2015 Fachtag: Beitrag Jürgen Lemke</a>
            </li>
            <li>
              <a href="/assets/7_Vortrag_Kai_Muench.pdf" download>2015 Fachtag: Beitrag Kai Münch</a>
            </li>
            <li>
              <p class="listNoMargin">2015 Fachtag: Beitrag Sabine Braun-Fischer</p>
            </li>
            <li>
              <a href="/assets/2015_Fachtag_Flyer_DIN_A4.pdf" download>2015 Fachtag Flyer DIN A4</a>
            </li>
          </ul>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>
