<section>
  <div class="container">
    <div class="row">
      <!-- START ABOUT US TEXT DESIGN AREA -->
      <div class="col-md-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" data-wow-offset="0">
        <div>
          <h3>Datenschutzerklärung</h3>
          <p>Wir freuen uns über Ihr Interesse an unserer Homepage und unserem Verein. Für externe Links zu fremden Inhalten können wir dabei trotz sorgfältiger inhaltlicher Kontrolle keine Haftung übernehmen. Der Schutz Ihrer personenbezogenen Daten bei der Erhebung, Verarbeitung und Nutzung anlässlich Ihres Besuchs auf unserer Homepage ist uns ein wichtiges Anliegen. Ihre Daten werden im Rahmen der gesetzlichen Vorschriften geschützt. Nachfolgend finden Sie Informationen, welche Daten während Ihres Besuchs auf der Homepage erfasst und wie diese genutzt werden.</p>
        </div>
        <br>
        <div>
          <h4>Verantwortliche Stelle</h4>
          <p>Verantwortliche Stelle im Sinne der Datenschutzgesetze ist Jugendsozialverbund Strausberg e.V. - Mühlenweg 6a, 15344 Strausberg. Wenn Sie Fragen zum Datenschutz haben, Rechte oder Ansprüche zu Ihren personenbezogenen Daten ausüben möchten, schicken Sie uns bitte ein E-Mail an jsv@gmx.de.</p>
        </div>
        <br>
        <div>
          <h4>1. Nutzung und Weitergabe personenbezogener Daten</h4>
          <p>Soweit Sie uns personenbezogene Daten zur Verfügung gestellt haben, verwenden wir diese nur zur Beantwortung Ihrer Anfragen, zur Abwicklung mit Ihnen geschlossener Verträge und für die technische Administration. Ihre personenbezogenen Daten werden an Dritte nur weitergegeben oder sonst übermittelt, wenn dies zum Zwecke der Vertragsabwicklung - insbesondere Weitergabe von Bestelldaten an Lieferanten – erforderlich ist, dies zu Abrechnungszwecken erforderlich ist oder Sie zuvor eingewilligt haben. Sie haben das Recht, eine erteilte Einwilligung mit Wirkung für die Zukunft jederzeit zu widerrufen. Die Löschung der gespeicherten personenbezogenen Daten erfolgt, wenn Sie Ihre Einwilligung zur Speicherung widerrufen, wenn ihre Kenntnis zur Erfüllung des mit der Speicherung verfolgten Zwecks nicht mehr erforderlich ist oder wenn ihre Speicherung aus sonstigen gesetzlichen Gründen unzulässig ist.</p>
        </div>
        <br>
        <div>
          <h4>2. Auskunftsrecht</h4>
          <p>Auf schriftliche Anfrage werden wir Sie gern über die zu Ihrer Person gespeicherten Daten informieren.</p>
        </div>
        <br>
        <div>
          <h4>3. Einwilligung, Widerrufsrecht und Widerspruchsrecht</h4>
          <p>Soweit wir Daten für einen Zweck nutzen, der nach den gesetzlichen Bestimmungen Ihre Einwilligung erfordert, werden wir Sie stets um Ihr ausdrückliches Einverständnis bitten und Ihre Einwilligung gemäß den datenschutzrechtlichen Vorschriften protokollieren. Sie können Ihr einmal gegebenes Einverständnis jederzeit mit Wirkung für die Zukunft widerrufen und/ oder künftigen Verwendungen Ihrer Daten für Zwecke der Werbung, Markt- und Meinungsforschung widersprechen. Zum Widerruf einer Einwilligung oder für einen Widerspruch genügt eine einfache Nachricht an uns. Sie können dazu die oben angegebenen Kontaktdaten verwenden, ohne dass Ihnen andere Kosten als die Übermittlungskosten nach dem Basistarif entstehen.</p>
        </div>
        <br>
        <div>
          <h4>Sicherheitshinweis</h4>
          <p>Wir sind bemüht, Ihre personenbezogenen Daten durch Ergreifung aller technischen und organisatorischen Möglichkeiten so zu speichern, dass sie für Dritte nicht zugänglich sind. Bei der Kommunikation per E-Mail kann die vollständige Datensicherheit von uns nicht gewährleistet werden, so dass wir Ihnen bei vertraulichen Informationen den Postweg empfehlen.</p>
        </div>
      </div>
      <!-- / END ABOUT US TEXT DESIGN AREA -->
    </div>
  </div>
</section>
